## emacs
# lisp
[submodule "dash.el"]
	   path = emacs/.emacs.d/lisp/dash.el
	   url = https://github.com/magnars/dash.el.git
[submodule "emacs-async"]
	   path = emacs/.emacs.d/lisp/emacs-async
	   url = https://github.com/jwiegley/emacs-async.git
[submodule "helm"]
	   path = emacs/.emacs.d/lisp/helm
	   url = https://github.com/emacs-helm/helm.git
[submodule "magit"]
	   path = emacs/.emacs.d/lisp/magit
	   url = https://github.com/magit/magit.git
[submodule "with-editor"]
	   path = emacs/.emacs.d/lisp/with-editor
	   url = https://github.com/magit/with-editor.git
[submodule "diff-hl"]
	   path = emacs/.emacs.d/lisp/diff-hl
	   url = https://github.com/dgutov/diff-hl
# themes
[submodule "color-theme-molokai"]
	   path = emacs/.emacs.d/themes/color-theme-molokai
	   url = https://github.com/alloy-d/color-theme-molokai
[submodule "cyberpunk-theme.el"]
	   path = emacs/.emacs.d/themes/cyberpunk-theme.el
	   url = https://github.com/n3mo/cyberpunk-theme.el
[submodule "monokai-emacs"]
	   path = emacs/.emacs.d/themes/monokai-emacs
	   url = https://github.com/oneKelvinSmith/monokai-emacs